* {
    top: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDEDED;
    font-family: 'Helvetica Neue';
}

#first-shot {
    height: 100vh;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center
}

#first-shot p {
    text-align: center;
    color: #ffffff;
    letter-spacing: 10px;
    margin: 0;
}

#first-shot p:hover {
    color: #7C7C7C;
}

#about-me {
    height: 100vh;
    width: 100%;
    color: #7C7C7C;
    text-align: center;
}

#about-me img {
    width: 250px;
    height: 334px;
    padding-top: 38px;
}

.title {
    padding-top: 87px;
    font-size: 31px;
    letter-spacing: 8px;
    font-weight: 300;
}

.subtitle {
    padding-top: 13px;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 22px;
}

#first-art {
    height: 100vh;
    width: 100%;
    color: #7C7C7C;
    text-align: center;
}

#first-art img {
    padding-top: 89px;
    height: 245px;
    width: 328px;
}

.first-art-title {
    padding-top: 130px;
    font-size: 31px;
    letter-spacing: 8px;
    font-weight: 300;
}

#second-art {
    height: 100vh;
    width: 100%;
    color: #7C7C7C;
    text-align: center;
}

#second-art img {
    padding-top: 124px;
    width: 328px;
    height: 184.5px;
}

.second-art-title {
    padding-top: 155.5px;
    font-size: 31px;
    letter-spacing: 8px;
    font-weight: 300;
}

@media only screen and (max-width: 320px) {
    #first-shot {
        font-size: 24px;
    }
}

@media only screen and (min-width: 768px) {
    #first-shot {
        font-size: 40px;
    }

    #about-me img {
        width: 384px;
        height: 512px;
    }

    #first-art img {
        height: 464px;
        width: 619px;
    }

    #second-art img {
        width: 619px;
        height: 348.19px;
    }
}

@media only screen and (min-width: 992px) {
    #first-shot p {
        letter-spacing: 14px;
    }

    #about-me img {
        width: 576px;
        height: 768px;
    }

    .title {
        letter-spacing: 14px;
    }

    #first-art img {
        width: 877px;
        height: 657px;
    }

    #second-art img {
        width: 850px;
        height: 478.19px;
    }
}
